.sider {
    @apply text-white;
    background-color: white;

    & .logo {
        height: 64px;
        text-transform: uppercase;
        font-size: xx-large;
        padding: 10px 10px;
        text-align: center;
    }
}

.header {
    @apply bg-secondary text-white;
}

.content {
    @apply bg-white text-black p-3;
}